{% extends 'base.html' %}

{% block page_title %}Register asset{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.ticker.label_tag }}
    {{ form.ticker }}
    <br>
    {{ form.min_price.label_tag }}
    {{ form.min_price }}
    <br>
    {{ form.max_price.label_tag }}
    {{ form.max_price }}
    <br>
    {{ form.update_interval_minutes.label_tag }}
    {{ form.update_interval_minutes }}
    <br>
    <button type="submit" class="add-asset-button">Registrar</button>
</form>
{% endblock %}