{% extends 'base.html' %}

{% block page_title %}My assets{% endblock %}
{% block content %}
<div class="assets-container">
    <div class="asset-list">
        {% for ownership in assets_ownerships %}
        <div class="asset-item">
            <div class="asset-header">
                <span> {{ ownership.asset.ticker }} </span>
                <span class="asset-price">R$ {{ ownership.asset.current_price|default:"-" }}</span>
            </div>
            <div class="asset-details">
                <p>Update Interval: {{ ownership.update_interval_minutes }} min</p>
                <p>Last Update: {{ ownership.asset.last_update|default:"-" }}</p>
                <p>Min: R${{ ownership.min_price }} | Max: R${{ ownership.max_price }}</p>
            </div>
            <form method="post"  class="my-form" action="{% url 'ownership_delete' ownership.asset.ticker %}">
                {% csrf_token %}
                <button type="submit" class="delete-ownership-button">Delete</button>
            </form>
        </div>
        {% endfor %}
    </div>
    <button class="add-asset-button" >
        <a class="add-asset-link" href="{% url 'ownership_register' %}">Add New Asset</a>
    </button>
</div>
{% endblock %}